@import (reference) '../../../app/css/variables.less';
@import (reference) '../../../app/css/mixins.less';

.blackduck_view {
  .project_name {
    font-size: 24px;
  }

  .summary_count {
    border-bottom: 2px solid @dash-divider;
    font-size: 4rem;
    min-height: 3.1em;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  .summary_type {
    .text-standard;
    text-align: center;
    white-space: normal;
  }
  .lol {
    line-height: 3em;
  }
  .number_files {
    color: @dash-status-info;
  }
  .number_violations {
    color: @dash-status-warn;
  }
}
